.banner {
  height: 421px;
  font-size: 20px;
  color: #fbf6f6;
  margin-top: 109px;
  padding: 0;
  background-image: url("../images/about-us.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.about-discription-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.story-head {
  color: #605e5e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.2em;
  margin-top: 105px;
  font-weight: 500;
}

iframe {
  margin-top: 29px;
  width: 855px;
  height: 484px;
}

.about-title {
  color: #605e5e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.2em;
  font-weight: 600;
  font-stretch: 100%;
  margin-top: 124px;
}

.about-discription {
  font-family: lato-light, lato, sans-serif;
  background: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  font-size: 15px;
  color: #605e5e;
  overflow-wrap: break-word;
  pointer-events: none;
  text-align: start;
  word-wrap: break-word;
  text-size-adjust: 100%;
  width: 818px;
  /* margin-bottom: 20px; */
  line-height: 23px;
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.map iframe {
  width: 100%;
  margin-top: 58px;
}

.catagory-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.catagory-btn {
  text-decoration: none;
  height: 40px;
  width: 162px;
  color: #ffffff;
  font-family: din-next-w01-light, din-next-w02-light, din-next-w10-light,
    sans-serif;
  font-size: 14px;
  background: #808080;
  margin-top: 22px;
  height: 40px;
  font-weight: normal;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.catagory-btn:hover {
  background: #a0a09f;
}

footer {
  margin-top: 0;
}
