.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.approach {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 20px; */
  margin-top: 50px;
  width: 980px;
}

.approach-header {
  font-family: lato-light, lato, sans-serif;
  font-size: 24px;
  letter-spacing: 0.0666667em;
  color: #605e5e;
  font-weight: bold;
}
.approach-discription {
  font-family: lato-light, lato, sans-serif;
  font-size: 18px;
  color: #605e5e;
  line-height: 26px;
  letter-spacing: 0em;
  margin-top: 18px;
  font-weight: 100;
}
.approach-discription-margin {
  margin-top: 24px;
}
.order-create-btn {
  text-decoration: none;
  height: 40px;
  width: 220px;
  color: #ffffff;
  font-family: din-next-w01-light, din-next-w02-light, din-next-w10-light,
    sans-serif;
  font-size: 14px;
  background: #808080;
  margin-top: 22px;
  height: 40px;
  font-weight: normal;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order-create-btn:hover {
  background: #a0a09f;
}
.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
  gap: 10px;
}
.info-section-discription {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-top: 4px;
}
.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 456px;
  height: 107.2px;
  font-family: lato-light, lato, sans-serif;
  padding-top: 43px;
  padding-right: 25px;
  padding-bottom: 40px;
}
.left-section span {
  font-family: lato-light, lato, sans-serif;
  color: #605e5e;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1em;
  margin-right: 2px;
}
.left-section div {
  text-align: center;
  font-family: lato-light, lato, sans-serif;
  font-size: 21px;
  color: #605e5e;
  margin-right: 2px;
}
.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 456px;
  height: 107.2px;
  font-family: lato-light, lato, sans-serif;
  padding-top: 50px;
  padding-left: 25px;
  padding-bottom: 51px;
}

.right-section span {
  font-family: lato-light, lato, sans-serif;
  color: #605e5e;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1em;
  /* margin-right: 2px; */
}
.right-section div {
  text-align: center;
  font-family: lato-light, lato, sans-serif;
  font-size: 21px;
  color: #605e5e;
  /* margin-right: 2px; */
}
.divider {
  border-right: 1px solid #282626;
  /* border: 0.9rm solid #ba3b3b; */
  height: 190px;
  /* margin-top: 5px; */
  margin-bottom: 8px;
}

/* contact us section */
.contact-us {
  font-family: lato-light, lato, sans-serif;
  font-size: 21px;
  color: #605e5e;
  width: 554.49px;
  height: 73.6px;
  text-align: center;
  margin-top: 50px;
}

.contact-us a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  background: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: underline;
}

/* approach list container */

.approach-list {
  /* height: 382px; */
  width: 100%;
  margin-top: 68.5px;
  color: white;
}
.approach-list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 382px;
}

.approach-list-container img {
  width: 165px;
  height: 165px;
}
.approach-list-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 382px;
  background-color: #808080;
  /* margin-bottom: 50px; */
}
.approach-list-card span {
  font-family: Arial, Helvetica, sans-serif;
  background: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  letter-spacing: 0.2em;
  font-size: 20px;
  line-height: 1em;
  text-align: center;
  font-weight: bold;
}
.approach-list-card div {
  background: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  line-height: 22px;

  text-align: center;
  font-size: 16px;
  font-family: lato-light, lato, sans-serif;
}
.approach-list-card img {
  width: 165px;
  height: 165px;
}
.approach-list-card div {
  text-align: center;
}
.banner {
  height: 421px;
  font-size: 20px;
  color: #fbf6f6;
  margin-top: 109px;
  padding: 0;
  background-image: url("../images/services.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
